/vendor
/node_modules
/public/build
/public/hot
/.env
/.phpunit.cache
/storage/*.key
/storage/app/private
/storage/framework/cache/data
/storage/framework/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
